input{
    padding: 10px 20px;
    margin: 100px 210px;
    border-radius: 20px;
    background-color:purple;
    color: chartreuse;
    border: 2px solid black;
}
input:hover{
    background-color: crimson;
    color: antiquewhite;
    cursor: pointer;
}