* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font- family: ; */
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

main {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;

  h2 {
    height: 45%;
    width: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    color: aliceblue;
    font-size: 2vw;
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 13px;
    border: 3px solid beige;
  }

  button {
    border: 3px solid cornsilk;
    background-color: darkred;
    color: antiquewhite;
    padding: 1% 3%;
    border-radius: 12px;
    font-family: fantasy;
    font-weight: 100;
  }

  button:hover {
    border: 3px solid darkred;
    background-color: cornsilk;
    color: rgb(18, 17, 16);
    cursor: pointer;
    scale: 1.2;
  }

  button:active {
    border: 3px solid rgb(154, 144, 102);
    background-color: rgb(20, 67, 50);
  }
}
