* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font- family: ; */
}

html,
body {
  height: 100%;
  width: 100%;
}

body{
  overflow: hidden;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;

  button {
    padding: 1% 2.4%;
    background-color: rgb(9, 89, 62);
    // border: 2px solid crimson;
    border-radius: 8px;
    color: aliceblue;
    position: relative;
    z-index: 1;

    h1{
      white-space: nowrap;
      font-size: 2px;
    }
  }

  button:active{
    scale: 1.2;
  }

  button:hover{
    cursor: pointer;
  }
  
}
