* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 1%;

  main {
    position: absolute;
    // border-radius: 15px;
    height: 100%;
    width: 100%;
    background-color: rgb(171, 127, 62);
    padding: 2%;
    border: 2px solid black;
    overflow-y: auto;

    .elem {
      position: relative;
      display: flex;
      align-items: center;
      text-align: center;
      background-color: blanchedalmond;
      justify-content: space-evenly;
      padding: 2%;
      border-radius: 15px;
      margin-top: 1.2%;

      button{
        background-color: rgb(42, 135, 104);
        padding: 1% 3%;
        color: rgb(245, 245, 245);
        font-size: 1.5vw;
        font-family:monospace;
        border-radius: 15px;
        border: none;
        cursor: pointer;
      }
    }
  }
}
