* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 100%;
  width: 100%;
  padding: 1.5%;
  background: linear-gradient(to top, black, rgb(89, 86, 86), black);
  overflow: auto;

  .mut{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(48, 47, 47, 0.907);
  }

  .mut i{
    font-size: 2vw;
    pointer-events: none;
    font-weight: 200;
  }

  .mut:active{
    scale: 0.8;
  }

  section {
    height: 100%;
    width: 33%;
    background-color: black;
    border-radius: 15px;
    margin: auto;

    .all-reels {
      height: 100%;
      width: 100%;
      overflow: auto;
      scroll-snap-type: y mandatory;
      scroll-behavior: smooth;

      &::-webkit-scrollbar {
        display: none;
      }

      .reel {
        height: 100%;
        width: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 15px;
        margin-bottom: 8%;
        scroll-snap-align: start;
        scroll-snap-stop: always;

        video {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }

        .bottom {
          padding: 1% 6% 8% 6%;
          width: 100%;
          background: linear-gradient(
            rgba(0, 0, 0, 0.029),
            rgba(207, 15, 15, 0.067)
          );
          position: absolute;
          bottom: 0;
          color: azure;

          .user {
            display: flex;
            align-items: center;
            gap: 3%;
            margin-bottom: 1%;

            h4 {
              font-size: 1.7vw;
              font-weight: 600;
            }

            button {
              background-color: transparent;
              border-radius: 5px;
              padding: 1.2%;
              border: 2px solid white;
              font-size: 1vw;
              font-weight: 500;
              color: rgb(232, 232, 232);
            }

            img {
              height: 50px;
              width: 50px;
              border-radius: 50%;
              object-fit: cover;
              object-position: top;
            }
          }

          h3 {
            font-size: 1vw;
            font-weight: 200;
            font-family: Arial, Helvetica, sans-serif;
          }
        }

        .right {
          width: 10%;
          position: absolute;
          right: 0;
          bottom: 0%;
          display: flex;
          flex-direction: column;
          gap: 12px;
          align-items: center;
          text-align: center;
          padding: 3%;
          transform: translate(0%);
          color: white;

          div {
            cursor: pointer;
            width: 90%;
            /* background-color: aqua; */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h4 {
              cursor: pointer;
              pointer-events: none;
            }
          }

          .icon {
            font-size: 2vw;
            font-weight: 100;

            .love{
              color: crimson;
            }
          }

          h6 {
            pointer-events: none;
            font-size: 0.8vw;
            font-weight: 100;
          }
        }
      }
    }
  }
}
