* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 100%;
  width: 100%;
  padding: 1.5%;
  background: linear-gradient(to top, black, rgb(89, 86, 86), black);

  section {
    height: 100%;
    width: 33%;
    background-color: black;
    border-radius: 15px;
    margin: auto;
    // overflow: hidden;

    .all-reels {
      height: 100%;
      width: 100%;

      .reel {
        height: 100%;
        width: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 15px;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }

        .bottom{
            padding: 1% 6% 8% 6%;
            width: 100%;
            background:linear-gradient(rgba(0, 0, 0, 0.029),rgba(207, 15, 15, 0.067));
            position: absolute;
            bottom: 0;
            color: azure;

            .user{
                display: flex;
                align-items: center;
                gap: 3%;
                margin-bottom: 1%;

                h4{
                    font-size: 1.7vw;
                    font-weight: 600;
                }

                button{
                    background-color: transparent;
                    border-radius: 5px;
                    padding: 1.2%;
                    border: 2px solid white;
                    // border: none;
                    font-size: 1vw;
                    font-weight: 500;
                    color: rgb(232, 232, 232);
                }

                img{
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                    object-position: top;
                }
            }

            h3{
                font-size: 1vw;
                font-weight: 200;
                font-family:Arial, Helvetica, sans-serif;
            }
        }
      }
    }
  }
}
