* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;

  main {
    // border-radius: 15px;
    height: 100%;
    width: 100%;
    background-color: black;
    padding: 10% 5%;

    .container {
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      border-radius: 15px;
      padding: 1%;
      background-color: rgba(47, 41, 41, 0.671);

      h1 {
        // margin-top: 1%;
        font-size: 3vw;
        color: antiquewhite;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        font-weight: 300;
      }

      p {
        font-size: 1.2vw;
        color: rgb(165, 134, 21);
        font-family: cursive;
        font-weight: 300;
      }

      .wrapper {
        height: 100%;
        width: 100%;
        margin-top: 1%;
        padding: 0% 1% 1% 1%;
        display: flex;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: burlywood;
        gap: 2px;

        .white {
          position: relative;
          height: 100%;
          width: 100%;
          text-align: center;
          background-color: white;
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;
        }

        .black {
          color: white;
          position: relative;
          height: 60%;
          width: 100%;
          z-index: 2;
          text-align: center;
          background-color: rgb(0, 0, 0);
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;
        }
      }
    }
  }
}
