* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  display: inline-block;
  align-items: center;
  justify-content: center;
  background-color: black;

  :root {
    --x: 400px;
    --y: 400px;
  }

  // body {
  //   background-size: cover;
  //   background-image: url("https://images.pexels.com/photos/32838840/pexels-photo-32838840.jpeg");
  // }

  .box {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    border: 4px solid white;

    video {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      pointer-events: none;
      background: radial-gradient(
        180px at var(--x) var(--y),
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.95)
      );
      z-index: 2;
    }
  }

  .page {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 4px solid crimson;
    
    p{
      color: rgb(20, 180, 46);
      font-size: 3rem;
      font-family:monospace;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
}
